.newsletter {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  padding: 80px 0;
  text-align: center;
  margin: 80px 0;
}

.newsletter h1 {
  color: #171717;
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0;
}

.newsletter p {
  margin: 25px 0;
}

.newsletter div input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-size: 16px;
  height: 100%;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 60%;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
  margin: auto;
}
.newsletter button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
