.newCollection {
  margin: 80px 0;
}

.collection {
  display: grid;
  grid-gap: 25px;
}

.newCollection .head {
  text-align: center;
  margin: 0 0 40px;
}

.head hr {
  margin: auto;
  width: 150px;
  font-size: 32px;
  height: 4px;
  border-radius: 20px;
  background-color: #252525;
}

.collection {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .collection {
    grid-template-columns: repeat(4, 1fr);
  }
}
