.item {
  width: 300px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.item img {
  width: 100%;
  border-radius: 4px;
}
.item p {
  margin: 6px 0px;
}
.prices {
  display: flex;
  gap: 20px;
}
.new {
  color: #374151;
  font-size: 18x;
  font-weight: 600;
}

.old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.05);
  transition: 0.6;
}
