.product {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.product-info {
  width: 55%;
}

.product-info h1 {
  margin-bottom: 8px;
}

.product-description p {
  margin: 20px 0;
}

.productstars {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.prices {
  margin: 20px 0;
}

.product-display {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "smal smal big big big big big big big"
    "smal smal big big big big big big big" "smal smal big big big big big big big"
    "smal smal big big big big big big big";
  width: 45%;
  grid-gap: 10px;
}

.product-images {
  grid-area: smal;
}

.main-img {
  grid-area: big;
}

.product-display img {
  width: 100%;
}

.product-sizes ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
  gap: 30px;
}

.product-sizes ul li {
  padding: 0 20px;
  background-color: #f6f6f6;
  border: 1px solid #52525242;
}

.product-info button {
  border: none;
  outline: none;
  padding: 10px 20px;
  background: #ff4141;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.productstars p {
  padding-left: 8px;
}

.container-product > p {
  padding-bottom: 30px;
  padding-top: 10px;
}

.container-product > p img {
  width: 6px;
  margin: 0 3px;
}

.tags {
  margin-top: 20px;
}

.tags span {
  font-weight: bold;
}

.product-description .heading {
  display: flex;
}

.heading div {
  padding: 15px 20px;
  border: 1px solid #7c7c7c9e;
  cursor: pointer;
}

.product-description .description {
  padding: 20px;
  border: 1px solid #7c7c7c9e;
}

.active {
  background-color: #e9e9e9;
}

.related {
  margin: 80px 0;
}
