.banner img {
  width: 100%;
}

.shopSort {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.explore {
  margin: 60px 0;
  text-align: center;
}

.explore button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background: #ff7235d4;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  /* margin-top: 30px; */
  cursor: pointer;
  transition-duration: 0.4s;
}

.explore button:hover {
  background-color: #ff7235;
}

.shopSort p span {
  font-weight: bold;
}

.shopSort button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #525252;
  border-radius: 20px;
  cursor: pointer;
}

.categoryProducts {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  margin: 40px 0;
}

@media (min-width: 768px) {
  .categoryProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .categoryProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .categoryProducts {
    grid-template-columns: repeat(4, 1fr);
  }
}
