.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  font-size: 38px;
  font-weight: 600;
  color: #171717;
}

.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

.menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
  color: #515151;
}

.navbar a {
  text-decoration: none;
  color: #515151;
}

.menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.login-cart button:active {
  background-color: #f1f1f1;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -8px;
  right: -16px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
