nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 20px;
  justify-content: center;
  margin: 30px 0;
}

nav ul li {
  color: #515151;
}

.footer .head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.head span {
  font-size: 38px;
  font-weight: 600;
  color: #171717;
}

.social {
  text-align: center;
}

.social img {
  padding: 0 10px;
  width: 40px;
}

.footer hr {
  margin: 20px 0;
}

.footer p {
  text-align: center;
  padding: 0 0 30px;
}
